.headerContainer {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px;
  align-items: center;
  grid-template-areas: "titleText titleText titleText titleText recordButton stopButton";
  font-size: 20pt;
  border-bottom-style: solid;
  border-radius: 5px;
  background-color: lightgrey;
  border-color: gray;
  opacity: 0.5;
}
.titleText {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
  font-size: 40px;
  padding: 80px 50px;
  display: table-cell;
  vertical-align: middle;
  grid-area: titleText;
  font-weight: bold;

}

.extraSpace {

  font-size: 20px;
}

