html body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.appTest {
  height: 95vh;
  width: 95vw;
}

.container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 15vh 1fr 1fr;
  grid-template-areas:
    "header header header"
    "sidebar-1 content sidebar-2"
    "sidebar-1 content sidebar-2";
}

.itemHeader {
  grid-area: header;
}
.itemSidebar1 {
  grid-area: sidebar-1;
}
.itemContent {
  grid-area: content;
}
.itemSidebar2 {
  grid-area: sidebar-2;
}
