.column {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(211, 211, 211, 0.5);
  border-radius: 5px;
  border-style: none;
  border-color: black;
  align-content: center;
  height: 75vh;
}

ul {
  list-style-type: none;
  align-content: center;
  margin: 0px;
  padding: 0px;
  font-size: 11pt;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 65vh;
}

li {
  background-color: rgb(172, 167, 167);
  border-radius: 7px;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5px;
}

.title {
  font-size: 20pt;
  border-bottom-style: solid;
  border-color: rgb(78, 77, 77);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 8px;
  margin: 0px;
  
}
#wrapper { 
  text-align: center 
}

#centered {
   display: inline-block; 
  }
#floating { 
  position: relative; 
  display: inline-block; 
  width: 0; 
  height: 0; 
  vertical-align: top 
}
#sidebar { 
  display: inline-block; 
  position: absolute; 
  width: 100px;

  
  }


