.lefttask {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    align-content: center;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
}

button {
    background-color: transparent;
    border:none;
    cursor: pointer;
    outline: none;
}

.buttontd {
    text-align: right;
}

.titletd {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
}

.desctd {
    white-space: normal;

    text-overflow: ellipsis;
    width: 120px;
    vertical-align: top;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    
}
.progressBar {
    width: 120px;
}