.lefttask {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    align-content: center;
}

button {
    background-color: transparent;
    border:none;
    cursor: pointer;
    outline: none;
}

.buttontd {
    text-align: right;
}

.titletd {
    font-weight: bold;
}

.desctd {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}