.lefttask {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    align-content: center;
}

button {
    background-color: transparent;
    border:none;
    cursor: pointer;
    outline: none;
}

.buttontd {
    text-align: right;
}

.titletd {
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;

    max-width: 120px;

}

.desctd {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 120px;
}

.progressBar {
    width: 120px;
}