.middletask {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    align-content: center;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
}

.transbutton {
    background-color: transparent;
    border:none;
    cursor: pointer;
    outline: none;
}

.buttontd {
    text-align: right;
}


.timer {
    border: 1px solid rgb(39, 39, 39);

}

.timer:hover {
    background-color: rgb(156, 154, 154);

}

.titletd {
    font-weight: bold;
}

.desctd {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}

.estimatedText {
    text-align: right;
}

.progressBar {
    width: 260px;
}