.middletask {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    align-content: center;
}

.transbutton {
    background-color: transparent;
    border:none;
    cursor: pointer;
    outline: none;
}

.buttontd {
    text-align: right;
}