.righttask {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    align-content: center;
}

.transbutton {
    background-color: transparent;
    border:none;
    cursor: pointer;
    outline: none;
}

.buttontd {
    text-align: right;
}
.titletd {
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;

    max-width: 120px;

}

.desctd {
    white-space: normal;

    text-overflow: ellipsis;
    width: 120px;
    vertical-align: top;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}